<div class="user-show col d-flex flex-column border-right overflow-auto">
  <%= image_tag "learn.jpg", alt: "User cover image", size: "960x300", class: "cover img-fluid" %>

  <%= render 'shared/nav' %>

  <div class="left px-4 py-4 flex-grow-1 d-flex flex-column">
    <section class="user-updates pb-3 px-3 flex-grow-1 bg-white rounded shadow-sm">
      <h6 class="border-bottom py-3 mb-3 font-weight-bold">RECENT PROGRESS FROM <%= @user.full_name.upcase %></h6>

      <ul class="list-unstyled">
        <%= render @user_progress_updates %>
      </ul>
    </section>
  </div>
</div>

<section class="profile-details col-3 border-left">
  <section class="overview">
    <div>
      <%= follow_or_unfollow_btn(@user) %>

      <%= user_photo(@user, size: 60, class: "rounded-circle") %>

      <button><i class="fas fa-bars"></i></button>
    </div>

    <h2><%= @user.full_name.upcase %> <span><%= "@#{@user.username}" %></span></h2>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><%= @update_count %> <span>Updates</span> </li>
      <li class="list-group-item"><%= following_count(@user) %> <span>Following</span> </li>
      <li class="list-group-item"><%= follower_count(@user) %> <span>Followers</span> </li>
    </ul>
  </section>

  <section class="followed-by px-3">
    <h6 class="py-3 border-bottom">FOLLOWED BY</h6>

    <ul class="list-unstyled pt-3 border-top">
      <%= render @followers %>
    </ul>
  </section>
<section>
