<div>
  <img src="..." class="img-fluid" alt="User cover image">

  <nav class="nav">
    <a class="nav-link active" href="#">PROGRESS UPDATES</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">PHOTOS</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">FOLLOWING</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">FOLLOWERS</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">FAVOURITES</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">LISTS</a>
  </nav>

  <section class="user-updates">
    <h2>RECENT PROGRESS FROM <%= @user.full_name.upcase %></h2>

    <%= render @user_progress_updates %>
  </section>
</div>

<section class="profile-details">
  <section class="overview">
    <div>
      <%= follow_or_unfollow_btn(@user) %>

      <%= user_photo(@user, class: "rounded-circle") %>

      <button>add fa icon for menu</button>
    </div>

    <h2><%= @user.full_name.upcase %> <span><%= @user.username %></span></h2>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><%= @update_count %> <span>Updates</span> </li>
      <li class="list-group-item"><%= following_count(@user) %> <span>Following</span> </li>
      <li class="list-group-item"><%= follower_count(@user) %> <span>Followers</span> </li>
    </ul>
  </section>

  <section class="followed-by">
    <h2>FOLLOWED BY</h2>

    <%= render @followers %>
  </section>
<section>
