<div class="progress-index col border-right overflow-auto">
  <%= render 'shared/nav' %>

  <div class="left px-4 py-4 flex-grow-1 d-flex flex-column">
    <%= form_with model: @progress_update, local: true, class: 'bg-white mb-4 py-3 px-3 rounded shadow-sm' do |f| %>
      <%= render 'shared/errors', obj: @progress_update %>

      <div class="form-group">
        <%= f.label :text, 'ADD PROGRESS' %>
        <%= f.text_field :text, class:"form-control font-weight-bold", placeholder: 'Write new progress update', required: true %>
      </div>

      <%= f.submit 'Share Progress', class: "btn btn-primary font-weight-bold" %>
    <% end %>

    <section class="community-updates pb-3 px-3 flex-grow-1 bg-white rounded shadow-sm">
      <h6 class="border-bottom py-3 mb-3 font-weight-bold">COMMUNITY PROGRESS UPDATES</h6>

      <ul class="list-unstyled">
        <%= render @community_progress_updates %>
      </ul>
    </section>
  </div>
</div>

<div class="col-xs-12 col-md-3 progress-index border-left">
  <section class="who-to-follow px-3 pb-3 border-bottom">
    <div class="d-flex justify-content-between border-bottom">
      <h6 class="mb-0 align-self-center">WHO TO FOLLOW</h6>

      <button class="border-0 bg-transparent px-0"><i class="fas fa-sync-alt"></i></button>
    </div>

    <%= render 'trailblazer' %>

    <ul class="list-unstyled pt-3 border-top">
      <%= render @users_to_follow %>
    </ul>
  </section>
</div>
