<div>
  <%= render 'shared/nav' %>

  <%= form_with model: @progress_update, local: true do |f| %>
    <%= render 'shared/errors', obj: @progress_update %>

    <div class="form-group">
      <%= f.label :text, 'ADD PROGRESS' %>
      <%= f.text_field :text, class:"form-control" placeholder: 'Write new progress update' %>
    </div>

    <%= f.submit 'Share Progress', class: "btn btn-primary" %>
  <% end %>

  <section class="community-updates">
    <h2>COMMUNITY PROGRESS UPDATES</h2>

    <%= render @community_progress_updates %>
  </section>
</div>

<div>
  <section class="who-to-follow">
    <h2>WHO TO FOLLOW</h2>

    <%= render current_user.users_to_follow %>
  </section>
</div>
