<div class="side-bar col-2">
  <div class="media py-2 pl-2 d-flex align-items-center">
    <%= user_photo(current_user) %>

    <div class="media-body font-weight-bolder">
      <span class="mt-0"><%= current_user.full_name.upcase %></span>
    </div>
  </div>

  <ul class="list-group list-group-horizontal text-center font-weight-bolder">
    <li class="list-group-item bg-transparent py-3 w-50">
      <span class="d-block"><%= following_count(current_user) %></span>
      <span>Following</span>
    </li>
    <li class="list-group-item bg-transparent py-3 w-50">
      <span class="d-block"><%= follower_count(current_user) %></span>
      <span><%= pluralize(follower_count(current_user), 'Follower').remove(/\d+\s/) %></span>
    </li>
  </ul>

  <nav class="nav flex-column pt-2 font-weight-bolder">
    <%= link_to(progress_updates_path, class: 'nav-link w-100') { icon('fas', 'home', 'HOME', class: 'mr-1') } %>
    <%= link_to(user_path(current_user), class: 'nav-link w-100') { icon('fas', 'user', 'PROFILE', class: 'mr-1') } %>
    <%= link_to(destroy_user_session_path, method: :delete, class: 'nav-link w-100') do %>
    <%= icon('fas', 'sign-out-alt', 'SIGN OUT', class: 'mr-1') %>
    <% end %>
  </nav>
</div>
