<!DOCTYPE html>
<html>
  <head>
    <title>Learner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="overall-wrap container-fluid px-0">
      <div class="row vh-100 no-gutters align-items-stretch">
        <%= render 'layouts/side_bar' if signed_in? %>
        <%= render 'layouts/welcome' unless signed_in? %>

        <div class="nav-main-wrap col">
          <%= render 'layouts/nav' if signed_in? %>
          <%= render 'layouts/flash' %>

          <main class="main">
            <%= yield %>
          </main>
        </div>

        <div class="w-100"></div>

        <%= render 'layouts/footer' unless signed_in? %>
      </div>
    </div>
  </body>
</html>
