<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Learnar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="A mobile-friendly Ruby on Rails web app for learners to share progress, connect and find inspiration.">
    <meta property="og:title" content="Learnar">
    <meta property="og:description" content="A mobile-friendly Ruby on Rails web app for learners to share progress, connect and find inspiration.">
    <meta property="og:image" content="learnar.png">
    <meta property="og:image:alt" content="A gif demo of the application">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://learnar.herokuapp.com/">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="shortcut icon" type="image/x-icon" href=<%= asset_path 'favicon.ico' %>>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="overall-wrap container-fluid px-0">
      <div class="row no-gutters align-items-stretch">
        <%= render 'layouts/side_bar' if signed_in? %>

        <%= render 'layouts/welcome' unless signed_in? %>

        <div class="nav-main-wrap col row no-gutters">
          <%= render 'layouts/nav' if signed_in? %>

          <%= render 'layouts/flash' %>

          <main class="main col-12 row no-gutters">
            <%= yield %>
          </main>
        </div>

        <%= render 'layouts/footer' unless signed_in? %>
      </div>
    </div>
  </body>
</html>
